/*
	General style sheet for all custom styles
*/

#floorList {
}

.mainContainer{
	width: 100vw;
	height: 100vh;
	background-color: black;
	padding-bottom: 4vh;
}

.titleBox{
	height: 3vh;
	font-size:5vh;
	color:grey;
	padding-left: 5vw;
	position: relative;
	z-index:100;
}

.frame{
	width: 90vw;
	height: 50vw;/*for 16:9 aspect ratio*/
	max-width: 100%;
	max-height: 100%;
	background-color: lightblue;
	margin: 0 auto;
	position: relative;
	background-image: url("../images/5nffishbackground720.gif");
	background-size: 130vw 60vw;
	background-repeat: no-repeat;
}

.door{
	height:100%;
}

#l_door{
	float:left;
}

#l_doorTop{
	float:left;
	left: 0px;
	position: absolute;
}
#r_doorTop{
	float:right;
	right: 0px;
	position: absolute;
}

.hidden{
	visibility:hidden;
}

#r_door{
	float:right;
}

.button_holder{
	height:100%;
	width:5vw;
	background-image: url("../images/buttonPannel.png");
	background-size: 100% 100%;
	padding-top:25%;
	text-align: center;
}

#l_bh{
	float:left;
}

#r_bh{
	float:right;
}
